doctype html
html
	head
		itle= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
	body(id="error")
		div(id="wrapper")
			div(id="page-wrapper")

				div(class="row")
					div(class="col-lg-12")
						div(class="panel-body align_center")
							h1= error.status
							h2 Page 
								span= message
							div(class="row")
								hr(class="span8 offset2")

							p The page you are looking for doesn't seem to exist. 
								a(href="/") Back to Home Page
								|.